<div class="menu">
    <a id="menu_title"></a>
    <hr>
    <div class="menu_buttons">
        <div class="button" style="display: none;" id="admin">
            Administrator
        </div>
        <div class="button" style="display: none;" id="notifications">
            Notifications
        </div>
    </div>
    <hr>
    <div class="avatar">
        <div class="avatar_container" id="dropdownUser1">
            <h3 id="avatarName"></h3>
        </div>
        <p id="avatar_name"></p>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a class="dropdown-item" id="Charts" style="cursor: pointer;" href="/charts">Your Charts</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" id="notifications_button" style="cursor: pointer;">Notifications</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" id="signOut_button" style="cursor: pointer;">Sign out</a></li>
        </ul>
    </div>
</div>