<div class="register_container">
  <div class="row error"></div>
  <div class="row">
    <input type="email" autocomplete="email" id="email" name="email" placeholder="Email"></input>
  </div>
  <div class="row multiple">
    <input type="password" autocomplete="password" id="password" name="password" placeholder="Password"></input>
    <input type="password" autocomplete="password" id="cpassword" name="cpassword" placeholder="Confirm Password"></input>
  </div>
  <div>
    <button id="registerButton" class="button" type="submit" value="Register">Register</button>
  </div>
</div>

<div id="popup" class="popupBox">
  <div class="modal">
    <span class="close">&times;</span>
    <p></p>
  </div>
</div>